<div class="banner justify-content-center">
  <div class="banner-content justify-content-center align-items-center">
    <h1>Have a favorite ingredient?</h1>
    <form class="form-inline my-2 my-lg-0 align-middle" action="search">
      <input class="form-control form-input-background form-control-lg mr-sm-2" id="banner-typed-text" type="search" name="q" placeholder="" data-ingredients="<%= @animated_ingredients.to_json %>">
      <button class="btn btn-outline-light btn-lg my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <h1 class="mt-3">Your Cocktails</h1>
  <div class="cards mt-3">
    <% images = cloudinary_url("Cocktails.json", :type=>"list") %>

    <% @cocktails.each_with_index do |cocktail, idx|  %>
      <div class="card-category" id="<%= cocktail.id %>" data-aos="<%= cocktail.aos_picker(idx) %>" data-aos-duration="1000" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cloudinary_url(cocktail.photo.key) if cocktail.photo.attached? %>.jpeg);">
        <h3 class="mt-5"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        <div class="cocktail-details" id="<%= cocktail.id %>">
          <i class="<%= cocktail.id %> fas fa-cubes fa-2x" data-counter="<%= cocktail.cubes %>"><%= cocktail.cubes %></i>
        </div>
      </div>
    <% end %>
  </div>
</div>


