<h1>More about your cocktail...</h1>

<h3><%= @cocktail.name %></h3>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<% @doses.each do |dose| %>
  <div class="d-flex">
    <h5><%= dose.ingredient.name %></h5>
    <h5><%= dose.description %></h5>
    <%= link_to 'delete',
                dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </div>
<% end %>


<button class="btn btn-outline-dark mb-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add a Dose
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body bg-transparent">
      <%= render :template => 'doses/new.html.erb', cocktail: @cocktail, dose: @dose %>
    </div>
  </div>


