<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1><%= @cocktail.name %></h1><hr>
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col">
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill if @cocktail.photo.attached? %>
    </div>
    <div class="col border">
      <div class="doses-box">
        <% @doses.each do |dose| %>
          <div class="row border-bottom justify-content-around">
            <div class="col text-left dose-ingredient">
              <h5 class="my-2"><%= dose.ingredient.name %></h5>
            </div>
            <div class="col dose-description">
              <h5 class="my-2"><%= dose.description %></h5>
            </div>
            <div class="col text-right dose-action">
              <%= link_to 'delete',
                          dose_path(dose),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: 'my-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row border-bottom mt-3">
    <div class="col offset-8">
      <button class="btn btn-outline-dark mb-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add a Dose
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body bg-transparent">
          <%= render :template => 'doses/new.html.erb', cocktail: @cocktail, dose: @dose %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h2>More like this...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="scrolling-wrapper mt-3">
    <% @cocktails.each do |cocktail|  %>
      <% if cocktail != @cocktail %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cloudinary_url(cocktail.photo.key) if cocktail.photo.attached? %>.jpeg);">
        <h3 class="mt-5"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
      <% end %>
    <% end %>
  </div>
    </div>
  </div>
</div>







