<div class="my-navbar navbar nav-wrapper sticky-top navbar-expand navbar-light">
  <div class="navbar-brand text-light"><%= link_to "Your Cocktails", root_path, class: "nav-link text-light" %></div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "#{@cocktail.persisted? ? 'Edit your Cocktail' : 'Add a Cocktail'}", new_cocktail_path, :data => { :toggle => "modal", :target => "#newCocktailModal" }, class: "nav-link text-light" %>
        <div class="modal" id="newCocktailModal" tabindex="-1" role="dialog" aria-labelledby="newCocktailModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header bg-dark">
                <h3 class="modal-title" id="newCocktailModalTitle"><%= @cocktail.persisted? ? 'Edit your Cocktail' : 'Add a Cocktail' %></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body bg-dark">
                  <%= simple_form_for (@cocktail) do |f| %>
                  <%= f.input :name %>
                  <%= f.input :photo, as: :file %>
                  <%= f.submit value: "#{f.object.new_record? ? 'Add a Cocktail' : 'Edit your Cocktail'}" %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
